.main {
    background-color: #dbdbdb;
    margin-top: 10px ;
    padding: 20px;
}

.cadastrocliente {
    height: 100%;
    padding-left: 50px;
    width: 100%;  
    margin: 0;
}


.i-am-centered { 
    margin: auto; 
    max-width: 1200px;
}

.control-label {
    font-weight: bold;
    font-size: 1.1em;
}



input[type=text],
input[type=tel], 
input[type=mail] {
    width: 100%;
    box-sizing: border-box;
    border: 3px solid #101010;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.custom-select select {
    border: 3px solid #101010; 
}


.cadastrocliente div[class^="col-"] {
    padding: 10px 20px; /* calcula a distancia entro um inpute e outro e os cantos da tela*/
    
}



.btn-toolbar .btn{
    margin: auto;
    margin-top: 15px;
    padding:10px 30px;
    border: 3px solid #101010;
    font-weight: bold;
}
