.main {
    background-color: #dbdbdb;
    margin-top: 10px ;
    padding: 20px;
}

.cadastrocliente {
    height: 100%;
    padding-left: 50px;
    width: 100%;  
    margin: 0;
}


.i-am-centered { 
    margin: auto; 
    max-width: 1200px;
}

.control-label {
    font-weight: bold;
    font-size: 1.1em;
}


input[type=text],
input[type=tel], 
input[type=mail] {
    width: 100%;
    box-sizing: border-box;
    border: 3px solid #101010;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.custom-select select {
    border: 3px solid #101010; 
    border-radius: 10px;
}


.cadastrocliente div[class^="col-"] {
    padding: 10px 20px; /* calcula a distancia entro um inpute e outro e os cantos da tela*/
}


.btn-toolbar .btn {
    margin: auto;
    margin-top: 15px;
    padding:10px 30px;
    border: 3px solid #101010;
    border-radius: 10px;
    font-weight: bold;
}

/*scroll-bar*/

::-webkit-scrollbar-thumb {
    background-color: #3d3d3d;
    border-radius: 5px;
    height: 0.8vw;
}

::-webkit-scrollbar-track {
    background-color: #000000;
    width: 0.8vw;
    opacity: 0;
    height: 0.8vw;
}

::-webkit-scrollbar {
    width: 0.8vw;
}
