
.menu-lateral ul li a:hover {
  color: rgb(255, 0, 0);
}

.menu-lateral ul li a:active {
  color: rgb(255, 255, 255);
}

.menu-lateral ul li a:focus {
  color: rgb(255, 0, 0);
}

.table tr tb {
  display: flex;
}

.barra-fixa-geral {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-left: 10px;
  margin-top: 20px;
}

ul.barra-fixa-home {
  font-style: none;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  margin-top: 5px;
  margin-right: 35px;
}

ul.barra-fixa-home li a {
  text-decoration: none;
  margin: 5px;
  font-size: 18px;
}

div.usuario {
  margin-right: 35px;
  line-height: 0px;
}

input.ponto-online {
  width: 10px;
  height: 10px;
}

div.usuario p {
  margin: 0;
  font-weight: bold;
  line-height: 0px;
}

img.avatar {
  margin-left: 8px;
  margin-top: 17px;
  width: 40px;
  height: 37px;
  line-height: 0px;
}

span.online {
  margin-left: 20px;
  font-size: 13px;
}
.online {
  position: absolute;
  top: 110px;
}

a.homeLink {
  font-weight: bold;
  color: #000000;
}

a.homeLink:hover {
  color: #000000;
}

li a.clienteLink {
  font-weight: bold;
  color: #313131;
}

li a.listaLink {
  color: #313131;
}

li.traco1 {
  font-weight: bold;
  font-size: 18px;
}

li.traco2 {
  font-weight: bold;
  font-size: 18px;
}

div.icone-home a img {
  margin: 0px;
  margin-right: 92px;
  margin-top: 5px;
}

div.horario {
  margin-top: 22rem;
  margin-left: 157vh;
  line-height: 26px;
  position: fixed;
}

div.hora {
  font-size: 32px;
  font-weight: bold;
}

div.data {
  font-size: 13px;
}
.botoes {
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto 30px auto;
}
.container-botoes{
  margin-bottom: 30px;
}
.botao{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  border: #000 solid 3px;
  padding: 10px 20px;
  border-radius: 20px;
}
.botao-adicionar{
  background-color: #ECBD31;
  font-weight: bold;
}
.botao-mostrar, .botao-pesquisar{
  background-color: #fff;
  color: #c4c4c4;
}
.botao-mostrar{
  margin-left: 10px;
}
.botao-mostrar span{
  color: #000;
  font-weight: bold;
}
table{
  margin: 0 auto;
  width: 900px;
}
table th ,table td{
  border: #000 solid 3px;
  text-align: center;
  padding: 10px 20px;
}
table th {
  background-color: #c4c4c4;
}
table td{
  background-color: #fff;
}
.opcoes a{
  margin: 0 5px;
}
