.home {
    max-width: 1600px;
    margin-top: 30px;
}
.boxer {
    background: #dbdbdb;
    padding: 10px 0 70px 30px;
    border-radius: 5px; 
    margin-top: 20px;
    text-align: start;
}

.boxer div[class^="col-"] {
    padding-top: 30px;
}

.bold {
    font-weight: bold;
}

/*scroll-bar*/

::-webkit-scrollbar-thumb {
    background-color: #3d3d3d;
    border-radius: 5px;
    height: 0.8vw;
}

::-webkit-scrollbar-track {
    background-color: #000000;
    width: 0.8vw;
    opacity: 0;
    height: 0.8vw;
}

::-webkit-scrollbar {
    width: 0.8vw;
}