* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header {
    width: 100%;
    background-color: #010101;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98.77;
    height: 55px;
  }
  .painel{
    font-size: 20px;
    font-weight: bold;
    color: #fafafa;
    text-transform: uppercase;    
    margin: 0;
    background-color: #313131;
    text-align: center;
  }
  
  #logo-img {
    width: 11rem;
    margin: 25px;
  }
  
  .acoes-header {
    display: flex;
    justify-content: space-around;
  
    width: 13rem;
  
    color: aliceblue;
  }
  /*
      DEMO STYLE
  */
  
  @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
  body {
      font-family: 'Poppins', sans-serif;
      background: #fafafa;
  }
  
  p {
      font-family: 'Poppins', sans-serif;
      font-size: 1.1em;
      font-weight: 300;
      line-height: 1.7em;
      color: #999;
  }
  
  a,
  a:hover,
  a:focus {
      color: inherit;
      text-decoration: none;
      transition: all 0.3s;
  }
  
  .navbar {
      padding: 15px 10px;
      background: #fff;
      border: none;
      border-radius: 0;
      margin-bottom: 30px;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-btn {
      box-shadow: none;
      outline: none !important;
      border: none;
  }
  
  .line {
      width: 100%;
      height: 3px;
      border-bottom: 1px solid #ddd;
      margin: 40px 0;
  }
  .btn{
      background-color: #040404;
      border-color: #c2c2c2;
  }
  
  i,
  span {
      display: inline-block;
  }
  
  /* ---------------------------------------------------
      SIDEBAR STYLE
  ----------------------------------------------------- */
  
  .wrapper {
      display: flex;
      align-items: stretch;
  }
  
  #sidebar {
      margin-top: 10px;
      margin-left: 10px;
      min-width: 250px;
      max-width: 250px;
      background: #010101;
      color: #fff;
      transition: all 0.3s;
  }
  
  #sidebar.active {
      min-width: 80px;
      max-width: 80px;
      text-align: center;
      margin-left: 10px;
      margin-top: 10px;
  }
  #sidebar.active ul li a b{
      display: none;
  }
  
  
  #sidebar.active .sidebar-header h3,
  #sidebar.active .CTAs {
      display: none;
  }
  
  #sidebar.active .sidebar-header strong {
      display: block;
  }
  
  #sidebar ul li a {
      text-align: left;
  }
  
  #sidebar.active ul li a {
      padding: 10px 6px;
      text-align: center;
      font-size: 1.125em;
  }
  
  #sidebar.active ul li a i {
      margin-left: 0;
      display: block;
      font-size: 1.8em;
      margin-bottom: 5px;
  }
  
  #sidebar.active ul ul a {
      padding: 10px !important;
  }
   
  .nav-item {
    font-weight: 700;
  }

  .nav-item2 {
      font-weight: 700;
  }
  
  #sidebar.active .dropdown-toggle::after {
      top: auto;
      bottom: 10px;
      right: 50%;
      -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
      transform: translateX(50%);
  }
  
  #sidebar .sidebar-header {
      padding: 20px;
      background: #313131;
  }
  
  #sidebar .sidebar-header strong {
      display: none;
      font-size: 1.8em;
  }
  
  #sidebar ul.components {
      padding: 20px 0;
      border-bottom: 1px solid #313131;
  }
  
  #sidebar ul li a {
      padding: 10px;
      font-size: 1.1em;
      display: block;
  }
  
  #sidebar ul li a:hover {
      color: #010101;
      background: #fff;
  }
  
  #sidebar ul li a i {
      margin-right: 10px;
  }
  
  #sidebar ul li.active>a,
  a[aria-expanded="true"] {
      color: #fff;
      background: #b2b2b2;
  }
  
  a[data-toggle="collapse"] {
      position: relative;
  }
  
  .dropdown-toggle::after {
      display: block;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
  }
  
  ul ul a {
      font-size: 0.9em !important;
      padding-left: 30px !important;
      background: #010101;
  }
  
  ul.CTAs {
      padding: 20px;
  }
  
  ul.CTAs a {
      text-align: center;
      font-size: 0.9em !important;
      display: block;
      border-radius: 5px;
      margin-bottom: 5px;
  }
  
  a.download {
      background: #fff;
      color: #020202;
  }
  
  a.article,
  a.article:hover {
      background: #040404 !important;
      color: #fff !important;
  }
  
  /* ---------------------------------------------------
      CONTENT STYLE
  ----------------------------------------------------- */
  
  #content {
      width: 100%;
      padding: 20px;
      min-height: 100vh;
      transition: all 0.3s;
  }
  
  /* ---------------------------------------------------
      MEDIAQUERIES
  ----------------------------------------------------- */
  
  @media (max-width: 768px) {
      #sidebar {
          min-width: 80px;
          max-width: 80px;
          text-align: center;
          margin-left: -80px !important;
      }
      .dropdown-toggle::after {
          top: auto;
          bottom: 10px;
          right: 50%;
          -webkit-transform: translateX(50%);
          -ms-transform: translateX(50%);
          transform: translateX(50%);
      }
      #sidebar.active {
          margin-left: 0 !important;
      }
      #sidebar .sidebar-header h3,
      #sidebar .CTAs {
          display: none;
      }
      #sidebar .sidebar-header strong {
          display: block;
      }
      #sidebar ul li a {
          padding: 20px 10px;
      }
      #sidebar ul li a span {
          font-size: 0.85em;
      }
      #sidebar ul li a i {
          margin-right: 0;
          display: block;
      }
      #sidebar ul ul a {
          padding: 10px !important;
      }
      #sidebar ul li a i {
          font-size: 1.3em;
      }
      #sidebar {
          margin-left: 0;
      }
      #sidebarCollapse span {
          display: none;
      }
  }

form.simulações {
    position: absolute;
    top: 12vw;
    left: 20.6vw;
    height: 50vw;
    width: 77.1vw;
    border-radius: 10px;
    background-color: #ebebeb ;
    opacity: 95%;
    box-shadow: 0 0 0.2em rgb(185, 185, 185);
}
  
label.titulo1 {
    position: absolute;
    width: 394px;
    height: 36px;
    left: 26vw;
    top: 30px;
    font-weight: 700;
    font-size: 2vw;
    color: #000000;
}

label.titulo2 {
    position: absolute;
    top: 7vw;
    left: 4vw;
    font-weight: 700;
    font-size: 1vw;
    color: #000000;
}

label.titulo2 a.titulo3 {
    color: #585858;
    text-decoration:underline;
}

label.titulo2 a.titulo3:hover {
    color: #808080;
}

.pessoal {
    position: absolute;
    border-radius: 5px;
    margin-top: 30vw;
    margin-left: 4vw;
    font-weight: 700;
    font-size: 1.5vw;
}

.MEI {
    position: absolute;
    border-radius: 5px;
    margin-top: 11vw;
    margin-left: 4vw;
    font-weight: 700;
    font-size: 1.5vw;
}

.cards {
    display: flex;
}

.card {
    position: relative;
    width: 11vw;
    height: 11vw;
    margin-left: 5vw;
    margin-right: 1.5vw;
    margin-top: 15vw;
    background: url(../images/daycoval.png)
    center no-repeat;
    background-size: 11vw 11vw;
    border-radius: 20px;
    overflow: hidden;
}

.card_content {
    position: absolute;
    left: 0;
    bottom: -1vw;
    width: 100%;
    padding: 20px;
    background-color: #000000;
    opacity: 95%;
    transform: translateY(70px);
    transition: transform .25s;
}

.card_content::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px;
}

.card_title {
    color: rgb(255, 255, 255);
    line-height: 8px;
    font-size: 0.9vw;
    display: flex;
}

.card_subtitle {
    display: block;
    position: absolute;
    font-size: 19px;
    margin-left: 95px;
    margin-bottom: 5px;
    color: #ffffff;
}

.card_description {
    font-size: 12px;
    margin-top: 1.5vw;
    opacity: 0;
    transition: opacity .5s;
}

.card:hover .card_content {
    transform: translateY(0);
}

.card:hover .card_description {
    opacity: 1;
    transition-delay: .25s;
}

.card2 {
    position: relative;
    width: 11vw;
    height: 11vw;
    margin-left: 2vw;
    margin-right: 1.5vw;
    margin-top: 15vw;
    background: url(../images/citibank.png)
    center no-repeat;
    background-size: 11vw 11vw;
    border-radius: 20px;
    overflow: hidden;
}

.card_content2 {
    position: absolute;
    left: 0;
    bottom: -1vw;
    width: 100%;
    padding: 20px;
    background-color: #000000;
    opacity: 95%;
    transform: translateY(70px);
    transition: transform .25s;
}

.card_content2::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px;
}

.card_title2 {
    color: rgb(255, 255, 255);
    line-height: 8px;
    font-size: 0.9vw;
    display: flex;
}

.card_subtitle2 {
    display: block;
    position: absolute;
    font-size: 19px;
    margin-left: 95px;
    margin-bottom: 5px;
    color: #ffffff;
}

.card_description2 {
    font-size: 12px;
    margin-top: 23px;
    opacity: 0;
    transition: opacity .5s;
}

.card2:hover .card_content2 {
    transform: translateY(0);
}

.card2:hover .card_description2 {
    opacity: 1;
    transition-delay: .25s;
}

.card3 {
    position: relative;
    width: 11vw;
    height: 11vw;
    margin-left: 2vw;
    margin-right: 1.5vw;
    margin-top: 15vw;
    background: url(../images/banrisul.webp)
    center no-repeat;
    background-size: 11vw 11vw;
    border-radius: 20px;
    overflow: hidden;
}

.card_content3 {
    position: absolute;
    left: 0;
    bottom: -1vw;
    width: 100%;
    padding: 20px;
    background-color: #000000;
    opacity: 95%;
    transform: translateY(70px);
    transition: transform .25s;
}

.card_content3::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px;
}

.card_title3 {
    color: rgb(255, 255, 255);
    line-height: 8px;
    font-size: 0.9vw;
    display: flex;
}

.card_subtitle3 {
    display: block;
    position: absolute;
    font-size: 19px;
    margin-left: 95px;
    margin-bottom: 5px;
    color: #ffffff;
}

.card_description3 {
    font-size: 12px;
    margin-top: 25px;
    opacity: 0;
    transition: opacity .5s;
}

.card3:hover .card_content3 {
    transform: translateY(0);
}

.card3:hover .card_description3 {
    opacity: 1;
    transition-delay: .25s;
}

.card4 {
    position: relative;
    width: 11vw;
    height: 11vw;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 15vw;
    background: url(../images/bmg.webp)
    center no-repeat;
    background-size: 11vw 11vw;
    border-radius: 20px;
    overflow: hidden;
}

.card_content4 {
    position: absolute;
    left: 0;
    bottom: -1vw;
    width: 100%;
    padding: 20px;
    background-color: #000000;
    opacity: 95%;
    transform: translateY(70px);
    transition: transform .25s;
}

.card_content4::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px;
}

.card_title4 {
    color: rgb(255, 255, 255);
    line-height: 8px;
    font-size: 0.9vw;
    display: flex;
}

.card_subtitle4 {
    display: block;
    position: absolute;
    font-size: 19px;
    margin-left: 95px;
    margin-bottom: 5px;
    color: #ffffff;
}

.card_description4 {
    font-size: 12px;
    margin-top: 25px;
    margin-bottom: 34px;
    opacity: 0;
    transition: opacity .5s;
}

.card4:hover .card_content4 {
    transform: translateY(0);
}

.card4:hover .card_description4 {
    opacity: 1;
    transition-delay: .25s;
}

.card5 {
    position: relative;
    width: 11vw;
    height: 11vw;
    margin-left: 1vw;
    margin-top: 14.9vw;
    background: url(../images/nordeste.png)
    center no-repeat;
    background-size: 11vw 11vw;
    border-radius: 20px;
    overflow: hidden;
}

.card_content5 {
    position: absolute;
    left: 0;
    bottom: -1vw;
    width: 100%;
    padding: 20px;
    background-color: #000000;
    opacity: 95%;
    transform: translateY(70px);
    transition: transform .25s;
}

.card_content5::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px;
}

.card_title5 {
    color: rgb(255, 255, 255);
    line-height: 8px;
    font-size: 0.9vw;
    display: flex;
}

.card_subtitle5 {
    display: block;
    position: absolute;
    font-size: 19px;
    margin-left: 95px;
    margin-bottom: 5px;
    color: #ffffff;
}

.card_description5 {
    font-size: 12px;
    margin-top: 25px;
    margin-bottom: 32px;
    opacity: 0;
    transition: opacity .5s;
}

.card5:hover .card_content5 {
    transform: translateY(0);
}

.card5:hover .card_description5 {
    opacity: 1;
    transition-delay: .25s;
}

.maismoda {
    position: absolute;
    border-radius: 5px;
    margin-top: 27.5vw;
    margin-left: 63vw;
    font-weight: 700;
    font-size: 1.2vw;
    color: #585858;
}

.maismoda:hover {
    color: #313131;
}

.card6 {
    position: relative;
    width: 11vw;
    height: 11vw;
    margin-left: 5vw;
    margin-right: 1.5vw;
    margin-top: 8.3vw;
    background: url(../images/gerencianet.png)
    center no-repeat;
    background-size: 11vw 11vw;
    border-radius: 20px;
    overflow: hidden;
}

.card_content6 {
    position: absolute;
    left: 0;
    bottom: -1vw;
    width: 100%;
    padding: 20px;
    background-color: #000000;
    opacity: 95%;
    transform: translateY(70px);
    transition: transform .25s;
}

.card_content6::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px;
}

.card_title6 {
    color: rgb(255, 255, 255);
    line-height: 8px;
    font-size: 0.9vw;
    display: flex;
}

.card_subtitle6 {
    display: block;
    position: absolute;
    font-size: 19px;
    margin-left: 95px;
    margin-bottom: 5px;
    color: #ffffff;
}

.card_description6 {
    font-size: 12px;
    margin-top: 1.5vw;
    opacity: 0;
    transition: opacity .5s;
}

.card6:hover .card_content6 {
    transform: translateY(0);
}

.card6:hover .card_description6 {
    opacity: 1;
    transition-delay: .25s;
}

.card7 {
    position: relative;
    width: 11vw;
    height: 11vw;
    margin-left: 2vw;
    margin-right: 1.5vw;
    margin-top: 8.3vw;
    background: url(../images/cetelem.jpg)
    center no-repeat;
    background-size: 11vw 11vw;
    border-radius: 20px;
    overflow: hidden;
}

.card_content7 {
    position: absolute;
    left: 0;
    bottom: -1vw;
    width: 100%;
    padding: 20px;
    background-color: #000000;
    opacity: 95%;
    transform: translateY(70px);
    transition: transform .25s;
}

.card_content7::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px;
}

.card_title7 {
    color: rgb(255, 255, 255);
    line-height: 8px;
    font-size: 0.9vw;
    display: flex;
}

.card_subtitle7 {
    display: block;
    position: absolute;
    font-size: 19px;
    margin-left: 95px;
    margin-bottom: 5px;
    color: #ffffff;
}

.card_description7 {
    font-size: 12px;
    margin-top: 23px;
    opacity: 0;
    transition: opacity .5s;
}

.card7:hover .card_content7 {
    transform: translateY(0);
}

.card7:hover .card_description7 {
    opacity: 1;
    transition-delay: .25s;
}

.card8 {
    position: relative;
    width: 11vw;
    height: 11vw;
    margin-left: 2vw;
    margin-right: 1.5vw;
    margin-top: 8.3vw;
    background: url(../images/poupexjpeg.jpeg)
    center no-repeat;
    background-size: 11vw 11vw;
    border-radius: 20px;
    overflow: hidden;
}

.card_content8 {
    position: absolute;
    left: 0;
    bottom: -1vw;
    width: 100%;
    padding: 20px;
    background-color: #000000;
    opacity: 95%;
    transform: translateY(70px);
    transition: transform .25s;
}

.card_content8::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px;
}

.card_title8 {
    color: rgb(255, 255, 255);
    line-height: 8px;
    font-size: 0.9vw;
    display: flex;
}

.card_subtitle8 {
    display: block;
    position: absolute;
    font-size: 19px;
    margin-left: 95px;
    margin-bottom: 5px;
    color: #ffffff;
}

.card_description8 {
    font-size: 10.5px;
    margin-top: 10px;
    opacity: 0;
    transition: opacity .5s;
}

.card8:hover .card_content8 {
    transform: translateY(0);
}

.card8:hover .card_description8 {
    opacity: 1;
    transition-delay: .25s;
}

.card9 {
    position: relative;
    width: 11vw;
    height: 11vw;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 8.3vw;
    background: url(../images/modal.png)
    center no-repeat;
    background-size: 11vw 11vw;
    border-radius: 20px;
    overflow: hidden;
}

.card_content9 {
    position: absolute;
    left: 0;
    bottom: -1vw;
    width: 100%;
    padding: 20px;
    background-color: #000000;
    opacity: 95%;
    transform: translateY(70px);
    transition: transform .25s;
}

.card_content9::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px;
}

.card_title9 {
    color: rgb(255, 255, 255);
    line-height: 8px;
    font-size: 0.9vw;
    display: flex;
}

.card_subtitle9 {
    display: block;
    position: absolute;
    font-size: 19px;
    margin-left: 95px;
    margin-bottom: 5px;
    color: #ffffff;
}

.card_description9 {
    font-size: 12px;
    margin-top: 25px;
    margin-bottom: 34px;
    opacity: 0;
    transition: opacity .5s;
}

.card9:hover .card_content9 {
    transform: translateY(0);
}

.card9:hover .card_description9 {
    opacity: 1;
    transition-delay: .25s;
}

.card10 {
    position: relative;
    width: 11vw;
    height: 11vw;
    margin-left: 1vw;
    margin-top:8.2vw;
    background: url(../images/paccar.svg)
    center no-repeat;
    background-size: 11vw 11vw;
    border-radius: 20px;
    overflow: hidden;
}

.card_content10 {
    position: absolute;
    left: 0;
    bottom: -1vw;
    width: 100%;
    padding: 20px;
    background-color: #000000;
    opacity: 95%;
    transform: translateY(70px);
    transition: transform .25s;
}

.card_content10::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px;
}

.card_title10 {
    color: rgb(255, 255, 255);
    line-height: 8px;
    font-size: 0.9vw;
    display: flex;
}

.card_subtitle10 {
    display: block;
    position: absolute;
    font-size: 19px;
    margin-left: 95px;
    margin-bottom: 5px;
    color: #ffffff;
}

.card_description10 {
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 32px;
    opacity: 0;
    transition: opacity .5s;
}

.card10:hover .card_content10 {
    transform: translateY(0);
}

.card10:hover .card_description10 {
    opacity: 1;
    transition-delay: .25s;
}

.maismoda2 {
    position: absolute;
    border-radius: 5px;
    margin-top: 21vw;
    margin-left: 63vw;
    font-weight: 700;
    font-size: 1.2vw;
    color: #585858;
}

.maismoda2:hover {
    color: #313131;
}

/*scroll-bar*/

::-webkit-scrollbar-thumb {
    background-color: #3d3d3d;
    border-radius: 5px;
    height: 0.8vw;
}

::-webkit-scrollbar-track {
    background-color: #000000;
    width: 0.8vw;
    opacity: 0;
    height: 0.8vw;
}

::-webkit-scrollbar {
    width: 0.8vw;
}